body{
	background: url(../img/fon.jpg);
}
footer{
	border-top:1px solid #ccc;
}
.navbar{
	height: 85px;
}
.block {
	background: #ccc;
}
.wile .row{
		margin-left: 0;
		margin-right: 0;
}
.navbar {
	margin-bottom: 0;
}
.bed{

	/*height: 120px !important;*/
}
.text-panel{
	
}

.content{
	background-color: #fff;
}
.gorisontal{
	margin-top: 5px;
}
.gorisontal >a{
	display: inline-block;
	font-size:9pt;
	padding: 5px 5px;
}
.blogs{
	background: #fff;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)and(max-width: 420px) { 
	.img-goal{
	float: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }
	.img-goal{
	float: left;
	}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.img-goal{
	float: left;
	}
}