body {
     background: #0CAEF9; 
}
.container{
    width:1200px;
    min-height:300px;
   
}
.big_button{
    
    background: linear-gradient(#0E9EF7,#12506B);
    width: 250px;
    height: 250px;
    
    border-radius:125px;
    text-align: center;
    margin-top: 100px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer; 
}
.big_button:hover{
    box-shadow: 2px 2px 4px #454545;
}
.centr_text{
  display: inline-block;
   
  margin-top:80px; 
  text-align: center;   
}
.big_text{
    color:#fff;
    font-size: 60pt;
    font-family: Ubuntu;
}
.img_plus{
    position: absolute;
    margin-top:360px;
    margin-left: -150px;
}
.container h1{
    color: #fff;
    font-family: ubuntu;
    font-size: 30pt;
    margin-left: 20px;
}